body {
    background: white;
    font-family: "Raleway", sans-serif
}
p {
    line-height: 2;
}
h1 {
    font-size: 48px;
    margin-left: 55%;
}
.jumbotron {
    background-image: url(./images/header1.jpg); 
    background-size: cover;
    color: white;

}
.jumbotron-2 {
    background-image: url(./images/water.jpg); 
    background-size: cover;
    color: white;
    padding: 2%;
    font-size: 18px;
}

article.banner-text {
    margin-left: 40%;
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.header1 { 
    width: 100%;
    height: auto;
}
.cover {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: lightblue;
}

.home {
    font-size: 18px;
}
.home-col {
    display: flex;
}
.home-row {
    display: flex; 
}
.home-row .row-img {
    width: 30%;
}

.home-row .home-text {
    width: 50%;
    padding: 5%;
    border: 3px solid lightcyan;
    border-left: 0; 
}
.home-row .home-text h4 {
    margin-bottom: 6px;
    font-size: 32px;
    line-height: 36px; 
}

.home-row .home-text p {
    color: #777;
    line-height: 24px; 
}
.home-row .row-img img {
    width: 80%;
    padding: 15px;
}
.home-row .row-video iframe {
    padding: 15px;
    width: auto;
    height: 100%;
}
footer {
    width:100%;
    clear: both;
}

/*rods*/
.intro-rods {
    display:flex;
}
.intro-rods iframe {
    padding: 10px;
    width: 70%;
    height: 500px;
}
.intro-rods .rods-text {
    margin: 5%;
    padding: 2%;
    border: 3px solid lightcyan;
    border-left: 0; 
}
aside {
    width: 20%;
    float: right;
    color: blue;
}

.rods {
    text-align:center;
    width:75%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #666;
    background:lightgrey;
}

.spinning-rods1 {
    width:60%;
}
.casting-rods1 {
    width:60%;
}
.fly-fishing {
    width:60%;
}


/*reels*/

.reels {
    display: flex;
}

.reel {
    text-align:center;
    float:left;
    width:80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #666;
}
.spinning-reels {
    width:80%;
}
.casting-reels {
    width:80%;
}
.fly-fishing-reels {
    width:80%;
}
.select-reels {
    display:flex;
    width:80%;
}
.select-reels iframe {
    padding: 10px;
    width: 50%;
    height: 400px;
}
.select-reels .reels-text {
    margin: 1%;
    padding: 5%;
    border: 3px solid springgreen;
    border-right: 0; 
}
/*lines*/

.lines {
    display:flex;
}
.line {
    flex:1;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 30%;
    border: 1px solid #666;
    text-align:center;
    background:lightblue;
}
.mono-line {
    width:50%;
}
.braided-fishing-line-1 {
    width:50%;
}
.fluoro {
    width:50%;
}
.select-lines {
    display:flex;
}
.select-lines iframe {
    padding: 10px;
    width: 50%;
    height: 600px;
}
.select-lines .lines-text {
    margin: 2%;
    padding: 2%;
    border: 3px solid fuchsia;
    border-left: 0; 
}

/*more*/
.more {    
    display:flex;
    flex-wrap: wrap;
}

.more .hooks {
    width:45%;
    margin: 1%;
    padding: 1%;
    border: 3px solid lightcoral;

}
.more .lures {
    width:50%;
    margin: 1%;
    padding: 1%;
    border: 3px solid lightseagreen;

}
.more .baits {
    width:50%;
    margin: 1%;
    padding: 1%;
    border: 3px solid lightslategrey;

}
.more .sinkers {
    width:45%;
    margin: 1%;
    padding: 1%;
    border: 3px solid plum;

}

.hook-size {
    width:60%;
    float:left;
    padding:2%;
}
.fishing-lures {
    width:60%;
    float:left;
    padding:2%;
}
.bait-1 {
    width:60%;
    float:left;
    padding:2%;
}
.sinker {
    width:60%;
    float:left;
    padding:2%;
}